      
    <div class="row">
        <div class="center col-12" >
            <H3>Math Games Home </H3>
            <i>Copyright©2018 Shiva</i><br><br><br>
        </div>        
        <div class="right col-4" >
            <a [routerLink]="['/mathCalc', 'add']"  class=" btn btn-info btn-lg-round medium" >+</a>
        </div>            
        <div class="center col-4" >
            <a [routerLink]="['/mathCalc', 'subs']"  class=" btn btn-info btn-lg-round medium" >-</a>
        </div>            
        <div class="left col-4" >
                <a [routerLink]="['/mathCalc', 'addsubs']"  class=" btn btn-info btn-lg-round medium" >+-</a>
        </div>            
    </div>    
    <div class="height25"></div>
    <div class=" row">
        <div class="center col-12" >
            <a [routerLink]="['/mathCalc', 'tables']"  class=" btn btn-info btn-lg-round long" >Multiplication Tables</a>
        </div>      
    </div>                        
    <div class="height25"></div>
    <div class=" row">
        <div class="right col-4" >
            <a [routerLink]="['/mathCalc', 'mult']"  class=" btn btn-info btn-lg-round medium" >x</a>
        </div>            
        <div class="center col-4" >
            <a [routerLink]="['/mathCalc', 'div']"  class=" btn btn-info btn-lg-round medium" >/</a>
        </div>            
        <div class="left col-4" >
                <a [routerLink]="['/mathCalc', 'multdiv']"  class=" btn btn-info btn-lg-round medium" >x /</a>
        </div>            
    </div>    
    <div class="height25"></div>

    <div class="row">
            <div class="center col-12" >
                <a routerLink="/level/level" class="btn btn-info btn-lg-round long" >Level</a>
            </div>
    </div>      