
<div class="row" (window:resize)="onResize($event)">
      <div class="center col-12" >
        <br>
        <h2>Shiva's Games </h2>
        <i>Developed by Shiva Ram</i>
        <br>
        Copyright©2018 Shiva<br><br><br><br>
        <h3><a href="https://www.facebook.com/Trivia-Mania-174648479262338">Web Site</a> </h3>
        <br> <br>
        <br><br><br>
        <br>
      </div>
      <div class="center col-12" >
          <h6><i>Screen Width/Height: {{innerWidth}}/{{innerHeight}}</i><br></h6>
      </div>
</div>      
