<nav class="navbar navbar-expand-lg navbar-dark green">
    <a routerLink="/"  class="navbar-brand" data-toggle="collapse"      >Home</a>
        <!-- data-target="#navbarNav" -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav" data-toggle="collapse"  data-target="#navbarNav">
          <li class="nav-item">
            <a routerLink="/wordTriviaHome/word" class="nav-link" >Word Games</a>
          </li>
          <li class="nav-item">
            <a routerLink="/wordTriviaHome/trivia" class="nav-link" >Trivia Games</a>
          </li>                  
          <li class="nav-item">
            <a routerLink="/mathHome" class="nav-link" >Math Games</a>
          </li>
          <li class="nav-item"> 
            <a routerLink="/level/level" class="nav-link" >Level</a>
          </li>
          <li class="nav-item"> 
            <a routerLink="/level/category" class="nav-link" >Category</a>
          </li>
          <li class="nav-item"> 
            <a routerLink="/about" class="nav-link" >About</a>
          </li>

        </ul>
    </div>
  </nav>