
  

<div class="container">
    <div class="row">
        <div class="center col-sm-12" >
            <a routerLink="/" class="center btn btn-info" >Home</a>
        </div>
        <div class="center col-sm-12" >
          <a routerLink="/mathHome" class="center btn btn-info" >Math Games Home</a>
      </div>
      <!-- <div class="center col-sm-12" >
          <a routerLink="/level" class="center btn btn-info" >Level</a>
      </div> -->
      <div class="center col-sm-12"  >
          <router-outlet></router-outlet>
      </div>
    </div>
</div>


