
<div class="row" *ngIf="category=='word'">
  <div class="center col-12" >
    <H3>Word Games Home </H3>
    <i>Copyright©2018 Shiva</i><br><br><br>
  </div>    
  <div class="center col-12" >
    <a routerLink="/wordTrivia/word/learner" class="btn btn-info btn-lg-round long" >Word learner</a>
  </div>
  <div class="center col-12" >
    <a routerLink="/wordTrivia/word/hangman" class="btn btn-info btn-lg-round long" >Word HangMan</a>
  </div>
  <div class="center col-12" >
    <a routerLink="/wordTrivia/word/scrambler" class="btn btn-info btn-lg-round long" >Word scrambler</a>
  </div>
  <div class="center col-12" >
      <a routerLink="/wordTrivia/word/tester" class="btn btn-info btn-lg-round long" >Word tester</a>
  </div>
  <div class="center col-12" >
      <a routerLink="/level/level" class="btn btn-info btn-lg-round long" >Level</a>
  </div>
    
</div>
<div class="row" *ngIf="category=='trivia'">
  <div class="center col-12" >
    <H3>Trivia Games Home </H3>
    <i>Copyright©2018 Shiva</i><br><br><br>
  </div>    
  <div class="center col-12" >
    <a routerLink="/wordTrivia/trivia/learner" class="btn btn-info btn-lg-round long" >Trivia learner</a>
  </div>
  <div class="center col-12" >
    <a routerLink="/wordTrivia/trivia/hangman" class="btn btn-info btn-lg-round long" >Trivia HangMan</a>
  </div>
  <div class="center col-12" >
    <a routerLink="/wordTrivia/trivia/scrambler" class="btn btn-info btn-lg-round long" >Trivia scrambler</a>
  </div>
  <div class="center col-12" >
      <a routerLink="/wordTrivia/trivia/tester" class="btn btn-info btn-lg-round long" >Trivia tester</a>
  </div>
  <div class="center col-12" >
      <a routerLink="/level/category" class="btn btn-info btn-lg-round long" >Category</a>
  </div>
</div>
