/* You can add global styles to this file, and also import other style files */
body {
    background-color: #003300 !important;
}
.btn-info{
    color: #003300 !important;
    background-color: #ffff00 !important;
}

.center {
    border: 3px solid  #003300;
    text-align: center;  
    color: yellow; 
}
.container {
    background-color: #003300 !important;
}
