<div class="row" >
  <div class="center col-12" >
    <H2>Games Home </H2>
    <i>Copyright©2018 Shiva</i>
    <h3><a href="https://www.facebook.com/Trivia-Mania-174648479262338">Web Site</a> </h3>
    <br>
  </div>
  <div class="center col-12" >
    <a routerLink="/wordTriviaHome/word" class="btn btn-info btn-lg-round long" >Word Games</a>
  </div>
  <div class="center col-12" >
    <a routerLink="/wordTriviaHome/trivia" class="btn btn-info btn-lg-round long" >Trivia Games</a>
  </div>
  <div class="center col-12" >
    <a routerLink="/mathHome" class="btn btn-info btn-lg-round long" >Math Games</a>
  </div>
  <div class="center col-12" >
      <a routerLink="/level/level" class="btn btn-info btn-lg-round long" >Level</a>
  </div>
  <div class="center col-12" >
      <a routerLink="/level/category" class="btn btn-info btn-lg-round long" >Category</a>
  </div>
  <div class="center col-12" >
    <a routerLink="/about" class="btn btn-info btn-lg-round long" >About</a>
  </div>
</div>